[tool.poetry]
name = "rss-agg"
version = "0.1.0"
description = ""
authors = ["Simon Brunning <simon@brunningonline.net>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"
httpx = ">=0.28"
yarl = ">=1.9.4"
python-json-logger = ">=2.0.7"
flask = {extras = ["async"], version = ">=3.0.3"}
defusedxml = ">=0.7"

[tool.poetry.group.dev.dependencies]
ruff = ">=0.5"
pyright = ">=1.1.353"
pytest = ">=9.0"
pytest-asyncio = ">=0.23"
pytest-cov = ">=4.0.0"
brunns-matchers = ">=2.10.0"
mbtest = ">=2.14.0"
pytest-docker = ">=3.1"
pyfakefs = ">=5.6.0"
respx = ">=0.22"
feedparser = ">=6.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
cli = "rss_agg.cli:main"

[tool.ruff]
line-length = 120
target-version = "py313"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["COM812", "ISC001", "D", "PGH003"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "S105", "S106", "PLR2004", "E501", "ANN", "INP"]

[tool.ruff.lint.mccabe]
max-complexity = 5

[tool.pyright]
include = ["rss_agg/"]
pythonVersion = "3.13"

[tool.poetry-plugin-lambda-build]
package-artifact-path = "terraform/deployment_package.zip"
