name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 6 * * MON'  # Every Monday morning

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: joerdav/setup-xc@v1
      - name: "Show software versions"
        run: |
          uv --version
          xc --version
          node --version
          npm --version
          docker --version
          docker compose version

      - run: xc test
      - run: xc lint
